.left-logo-hidden-box {
  background-color: rgba(0, 0, 0, 1);
}

ul li {
  padding-bottom: 10px;
  list-style: none;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: white;
}

.footer-logo-r {
  height: 5rem;
  width: 5rem;
  margin-bottom: 20px;
}

.footer-links-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  /* height: 400px; */
  align-content: space-between;
  position: relative;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  background: black;
  color: rgb(255, 255, 255);
}

.left-logo-hidden-box {
  display: flex;
  justify-content: center;
}

/* Social Icon */

.Social_icon {
  width: 32px;
  height: 32px;
  /*background-color: white;*/
  border-radius: 27%;
}

.dhdh {
  display: flex;
  width: auto;
  /* height: 400px; */
  justify-content: space-evenly;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 1);
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

.social--links {
  display: flex;
  background-color: rgba(0, 0, 0, 1);
  justify-content: left;
  gap: 3.2rem;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .footer-links-box {
    padding-left: 0;
    padding-right: 0;
  }
  .social--links {
    justify-content: center;
  }
}
