.team-background {
  background-color: rgb(15, 15, 18);
}
.team-heading {
  text-transform: uppercase;
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  font-size: 90px;
  color: white;
  text-align: right;
  padding-top: 10vh;
}
/* card css */
.main-box {
  display: flex;
  flex-wrap: wrap;
  padding: 3.2rem 3.2rem;
  gap: 7rem;
  justify-content: center;
}

.member-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
  width: 21rem;
  align-items: center;
}

.display-img {
  height: 15rem;
  width: 15rem;
  align-self: center;
}

.Avatar-name {
  text-transform: uppercase;
  margin-top: 20px;
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: white;
}

.Avatar-role {
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #4628ff;
}

.Avatar-social-links {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .team-heading {
    font-size: 30px;
  }
}
