.vault-background {
  background-color: rgb(15, 15, 18);
}
.button {
  background-color: #4628ff;
  border: 1px solid #4628ff;
  color: white;
  padding: 15px 32px;
  text-transform: uppercase;
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  border: 1px solid white;
  background-color: black;
}
.vault-heading {
  color: white !important;
  text-transform: uppercase;
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  font-size: 20px;
}
.vault-heading-value {
  color: green;
  font-size: 40px;
}
.vault-table-heading {
  color: white !important;
  text-transform: uppercase;
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  font-size: 90px;
}
.vault-table-subheading {
  color: white !important;
  text-transform: uppercase;
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.vault-buttonGroup {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
.vault-data {
  color: #c5c5ca;
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.box_ {
  display: flex;
  gap: 0.433rem;
  justify-content: space-around;
  padding-top: 4rem;
  flex-wrap: nowrap;
  background-color: rgb(15, 15, 18);
}
.col1 h5 {
  height: 60px;
  text-align: center;
}
.apy h5 {
  height: 60px;
  text-align: center;
}
.sharpe-ratio h5 {
  height: 60px;
}
.tvl h5 {
  height: 60px;
}

.data-table {
  align-items: center;
  border: 2px solid black;
}

.col1 {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 2.5rem;
  padding-left: 1.5rem;

  flex-shrink: 0.5rem;
}

.apy {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 2.5rem;
  flex-shrink: 1;
}

.sharpe-ratio {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.tvl {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 2.5rem;
  padding-right: 1.5rem;
}

.data-tables h1 {
  color: black;
  text-align: center;
  padding: 4rem 4rem;
}

@media (max-width: 768px) {
  .vault-table-heading {
    font-size: 40px;
  }
  .data-tables h1 {
    padding: 0;
    margin-top: 60px;
  }
  .vault-table-subheading {
    font-size: 15px;
  }
  .col1 {
    padding-left: 0;
  }
  .col1 h5 {
    text-align: left;
    height: 30px;
  }
  .vault-data {
    font-size: 12px;
  }
  .apy h5 {
    height: 30px;
  }
  .sharpe-ratio h5 {
    height: 30px;
  }
  .tvl h5 {
    height: 30px;
  }
  .vault-buttonGroup {
    margin: 0;
    display: grid;
  }
  .button {
    margin: 20px 0;
  }
}
