@import url("http://fonts.cdnfonts.com/css/clash-display");
a {
  text-decoration: none !important;
}
.navbar {
  background-color: #0f0f12;
  box-shadow: 15px 0 40px 0 rgb(0 0 0 / 95%);
}

.logo-name {
  text-transform: uppercase;
  font-family: "Clash Display", sans-serif;
  color: white;
  font-weight: 800;
  margin-bottom: 0px;
  margin-top: 14px;
  font-size: 28px;
}
.nav-link {
  text-transform: uppercase;
  font-family: "Clash Display", sans-serif;
  color: white;
  font-weight: 800;
  font-size: 18px;
}
.nav-link:hover {
  color: #4628ff;
}
.navbar-nav {
  margin-left: 35px;
}

.btn-early-access {
  text-transform: uppercase;
  padding: 15px;
  border-radius: 0px;
  background-color: #4628ff;
  font-weight: 600;
  color: white;
  font-family: "Clash Display", sans-serif;
  font-size: 20px;
}
.btn-early-access:hover {
  color: white;
}
